


<div data-include="components/menu-bottom/"></div>

<div class="footer-contact">
    <a href="tel:+5519999549787" title="Telefone"><i class="fas fa-phone-alt"></i></a>
    <a href="https://wa.me/5519999549787?text=Ol%C3%A1!%20Vim%20do%20site%20do%20Covil%20do%20Jabuti!" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
    <a href="mailto:covildojabuti@gmail.com" title="E-mail"><i class="fas fa-envelope"></i></a>
    <a href="https://www.linkedin.com/company/covildojabuti" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/covildojabuti" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
</div>

<div class="footer-bottom">
    <p>&copy; Copyright 62.976.610 KIEFER OLIVEIRA ROMANO - Covil do Jabuti - 62976610000182 - 2025. Todos os direitos reservados.</p>
    <p style="font-size:smaller;">Criado por <a href="https://www.lightusbrasil.com" target="_blank">Lightus Consultoria e Tecnologia</a>.</p>    
</div>
<div data-include="components/button-start/"></div>
<div data-include="components/button-whatsapp/"></div>
